@charset "UTF-8";
/* CSS Document */
body
{
	background-color: black;
}
.navBar
{
/*	removes bullets*/
	list-style-type: none;
}
.navList
{
	float:left;
	display: block;
  padding: 8px;
	font-size: 50px;
	font-family: "trilby", serif;
font-weight: 900;
font-style: normal;	
}
.tab 
{
text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
	color:#e6ddc5;
	text-shadow: 1px 1px 25px black;
	margin-right: 10px;
}
.active
{
	color: red;
}
.profilepic
{
	border-radius: 250px;
	width: 300px;
}
.profile
{
padding-top: 300px;
margin-left: 300px;	
}
